<script>

  document.addEventListener("DOMContentLoaded", function(){
    document.getElementById('enter').addEventListener('submit', post_entry);
  });

  function onCompleted(){
    console.log('captcha completed.');

    let fd = new FormData(document.getElementById('enter'));

    //fetch("https://wt.cdox.cc/vigil",{
    fetch("http://localhost:8000/register",{
      method: "post",
      mode: "cors",
      body: fd
    }).then(function(response){
      response.json().then(b => console.log(b));
    });
    d = new Date();
    document.getElementById("enter").reset();
    grecaptcha.reset();
  }

  function post_entry(event){

    event.preventDefault(); //or called by recaptcha
    grecaptcha.execute();
  }

</script>

<section class="flex relative overflow-hidden items-center justify-center vh-100 center bg-black {{ cond (isset . "bg") .bg "bg-center" }} cover" style="background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url('{{ .img }}'); background-position:
center center; background-size: cover;">
  {{ if isset . "subtitle" }}
  <h2 class="absolute mv0 f-15vw fw9 lh-solid white-50 tc ttu">{{ .subtitle | safeHTML }}</h2>
  {{ end }}
  <div class="relative mw8 tc">
    {{ if isset . "title" }}
    <h2 class="mv0 mh2 mh4-ns f1 f-subheadline-ns fw3 lh-title white tc">{{ .title | safeHTML }}</h2>
    {{ end }}
    {{ if isset . "bnlink" }}
    <a href="{{ cond (isset . "bnlink") .bnlink "mailto:les@lesterpickerphoto.com" }}" class="dib mt4 link w-auto-ns bg-transparent {{ cond (isset . "bcolor") .bcolor "white" }} f5 pv2 pv3-ns ph4 ba {{ cond (isset . "bcolor")   (printf "b--%s" .bcolor) "b--white"}} dim ttu">{{ .button }}</a>
    {{ end }}

<div class="mt4 ph5 mw6 center">
    <div class="flex">
      <form id="enter" class="flex flex-wrap items-stretch w-100 near-black" name="enter" method="post">
      <div class="flex flex-wrap items-stretch w-100 near-black">
        <div class="w-100 pr2">
        <div class="db w-100">
          <input class="db border-box hover-black w-100 ba b--gray pa2 br3" type="text" name="name" id="namevigil" required placeholder="Name">
        </div>
        <div class="db w-100 mt3">
          <input class="db border-box hover-black w-100 ba b--gray pa2 br3" type="email" name="email" id="emailvigil" required placeholder="Email">
        </div>
        <div class="db w-100 mt3">
          <input class="db border-box hover-black w-100 ba b--gray pa2 br3" type="text" name="regno" id="regno"  placeholder="Registration No.">
        </div>
        <div class="db w-100">
          <div id='recaptcha' class="g-recaptcha" data-sitekey="6LcBMrQUAAAAALBFHZGF9cMQDtuUQUuUqrLE37kF" data-callback="onCompleted" data-size="invisible"></div>
        </div>
        <div class="w-100">
          <input class="dib mt4 link w-auto-ns bg-transparent dark-red f5 pv2 pv3-ns ph4 b--dark-red ba dim ttu" type="submit" id="submit" value="Send">
        </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

  </div>
  {{ if isset . "sideline" }}
  <div class="dn sideline absolute top-200 left-0 inline-flex-ns items-center nowrap">
    <span class="bar dib mr2 {{ cond (isset . "sidecolor") (printf "bg-%s" .sidecolor) "bg-white" }}"></span> 
    <h3 class="mv3 f6 fw5 tracked-mega ttu {{ cond (isset . "sidecolor") .sidecolor "white" }}">{{ .sideline }}</h3>
  </div>
  {{ end }}  
</section>
